<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="css/cv_css.css">
        <script src="/vue/vue.js"></script>
        <script src="/socket.io/socket.io.js" defer></script>
        <script src="js/juicifer-main.js" defer></script>
        <script src="js/cv_script.js" defer></script>
        <title>Jucifer</title>
    </head>
    <body>
        <div id="all_cv">
            <!-- Hjälptab-->
            <div>
                <div id="help" class="popUpContent">
                    <h2>Här får du hjälp</h2>
                    <a onclick="document.getElementById('help').style.display='none';
                                document.getElementById('fade').style.display='none'">
                        <button>Tillbaka</button>
                    </a>
                </div>
                <div id="fade" class="blackOverlay"></div>
            </div>
            <!-- Slut på hjälptab-->
            <!-- Avbryttab-->
            <div>
                <div id="confirmAbort" class="popUpContent">
                    <h2>Vill du verkligen avbryta din order?</h2>
                    <a onclick="document.getElementById('confirmAbort').style.display='none';
                                document.getElementById('fade').style.display='none'">
                        <div class="flexAbort">
                            <button v-on:click="showTab('abortOrder')">Ja</button>
                            <button>Nej</button>
                        </div>
                    </a>
                </div>
                <div id="fade" class="blackOverlay"></div>
            </div>
            <!-- Slut på avbryttab-->


            <!--Start of topbar-->
            <div class="topBarContainer" v-if="showTopBar">

                <!--Buttons to get help or switch language-->
                <div class="helpLangContainer" v-if="showHelpLangContainer">
                    <input type="image" src="images/gb_flagga.png" name="questionButton" id="langButton">
                    <a onclick="document.getElementById('help').style.display='block';
                                document.getElementById('fade').style.display='block'"> 
                        <img src="images/info.png" name="languageButton" id="helpButton"/>
                    </a>
                </div>
                <div v-if="showHelpLangContainer">

                </div>

                <!--Buttons to abort and get help-->
                <div class="helpAbortContainer" v-if="showHelpAbortContainer">

                    <a id="abortButton" onclick="document.getElementById('confirmAbort').style.display='block';
                                document.getElementById('fade').style.display='block'"> 
                        <button>
                            Avbryt beställning
                        </button>
                    </a>
                    <a onclick="document.getElementById('help').style.display='block';
                                document.getElementById('fade').style.display='block'"> 
                        <img src="images/info.png" name="languageButton" class="helpLangButton"/>
                    </a>
                </div>    

                <!--The top bar buttons-->
                <div class="topBarButton" v-if="showTopBarButton">
                    <button id="makeDrinkButton" type="button" v-on:click="showTab('ingredPage')">Skapa dryck</button>
                    <button id="cartButton" type="button" v-on:click="showTab('cartPage')">Varukorg</button>
                    <button id="payButton" type="button">Betalning</button>
                </div>
            </div>  
            <!--End of topbar-->



            <!--Start of start page-->

            <div id="start" v-if="showStartPage">
                <main>
                    <h1 class="header">Välkommen till Jucifer</h1>
                    <h2 class="subHeader"> Välj din dryck:</h2>

                    <div class="startPageButtonContainer">
                        <div class="chooseDrinkTypeButton">
                            <button id="juiceButton" type="button" v-on:click="showTab('sizePage'); addType('juice')">Juice</button>
                        </div>

                        <div class="chooseDrinkTypeButton">
                            <button id="smoothieButton" type="button" v-on:click="showTab('sizePage'); addType('smoothie')">Smoothie</button>
                        </div>      
                    </div>
                </main>
                <footer class="footer">
                    <p>&copy;1337-Leet Force</p>
                </footer>
            </div>

            <!--End of start page-->
            <!--Start of size page-->

            <div id="size" v-if="showSizePage">
                <main>
                    <h1 class="header">Välj en storlek</h1>

                    <div class="buttonSizeContainer">
                        <div class="chooseSizeButton">
                            <button id="smallButton" type="button" v-on:click="showTab('ingredPage')">Small</button>
                        </div>
                        <div class="chooseSizeButton">
                            <button id="mediumButton" type="button" v-on:click="showTab('ingredPage')">Medium</button>
                        </div>  

                        <div class="chooseSizeButton">
                            <button id="largeButton" type="button" v-on:click="showTab('ingredPage')">Large</button>
                        </div>
                    </div>
                </main>
                <footer class="footer">
                    <p>&copy;1337-Leet Force</p>
                </footer>
            </div>
            <!--End of size page-->


            <!--Start of smoothie ingredients page-->
            <div id ="ingredPage" v-if="showIngredPage">


                <!--Start of ingredient menus-->
                <h1 class="header" align="left">Skapa dryck</h1>
                <div class="mainContent">                    
                    <!--Start of base ingredient menu-->
                    <div id=chooseIngredientsBox v-if="showButtonBox">
                        <div class="headContainer">
                            <div class="head">{{chosenCatName}}</div>
                            <input class="head" placeholder="Search" v-model="searchTerm">
                        </div>

                        <div class="flex-container">
                            <button class="chooseIngredientsButton" v-on:click="closeIngredMenus()">
                                Return</button>
                            <button class="chooseIngredientsButton" v-on:click="choosePreMadeDrinks()">
                                Our Favorites</button>
                            <button class="chooseIngredientsButton" v-on:click="showAllIngredients()">All ingredients</button>

                            <button class="chooseIngredientsButton" v-for="catName in this.categories" v-if="showCatButtons" v-on:click="doShowIngredientsButtons(catName)">
                                {{catName}}</button>

                            <ingredient

                                        ref="ingredient"
                                        v-if="showIngredientsButtons"
                                        v-for="item in filtered_ingredients(chosenCatName).filter(searched_ingredients)"
                                        v-on:addIngredient="addToOrder(item),closeIngredMenus()"  
                                        :item="item" 
                                        :lang="lang"
                                        :key="item.ingredient_id"> 

                            </ingredient>
                        </div>
                    </div>

                    <!--End of standard ingredients menu-->
                    <!--End of ingredient menus-->
                    <!--Start of mug interface-->
                    <div id="smoothieMug" v-if="showSmoothieMug">
                        <div class="mugContainer">
                            <div class="mug">
                                <div class="toppingButton">
                                    <button id="topping" v-on:click="showIngredients">Topping</button>
                                </div>
                                <div class="mugButtons">
                                    <button id="ingredient3" v-on:click="showIngredients('ingredCat')">Ingredient 3</button>
                                    <br>
                                    <button id="ingredient2" v-on:click="showIngredients('ingredCat')">Ingredient 2</button>
                                    <br>
                                    <button id="ingredient1" v-on:click="showIngredients('ingredCat')">Ingredient 1</button>
                                    <br>
                                    <button id="base" v-on:click="showIngredients('base')">base
                                    </button> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="juiceMug" v-if="showJuiceMug">
                        <!--Start of mug interface-->
                        <div class="mugContainer">
                            <div class="mug">
                                <div class="toppingButton">
                                    <button id="topping" v-on:click="showIngredients">Topping</button>
                                </div>
                                <div class="mugButtons">
                                    <button id="ingredient5" v-on:click="showIngredients('ingredCat')">Ingredient 5</button>
                                    <br>
                                    <button id="ingredient6" v-on:click="showIngredients('ingredCat')">Ingredient 4</button>
                                    <br>
                                    <button id="ingredient3" v-on:click="showIngredients('ingredCat')">Ingredient 3</button>
                                    <br>
                                    <button id="ingredient2" v-on:click="showIngredients('ingredCat')">Ingredient 2</button>
                                    <br>
                                    <button id="ingredient1" v-on:click="showIngredients('ingredCat')">Ingredient 1</button>    
                                </div>
                            </div>
                        </div>
                        <!--End of mug interface-->
                    </div>
                    <!--End of mug interface-->
                </div>
            </div>
            <!--End of smoothie ingredients page-->
            <!--Start of juice ingredients page-->

            <!--End of juice ingredients page-->


            <!--LEFTOVER I DON'T DARE TO REMOVE YET-->

            <!--   <div class="topBarContainer">
<div class="topBarButton">
<button id="makeDrinkButton" type="button">Skapa dryck</button>
</div>
<div class="topBarButton">
<button id="cartButton" type="button">Varukorg</button>
</div>
<div class="topBarButton">
<button id="payButton" type="button">Betala</button>
</div> 
</div> -->
            <!--   <header>
<div class="helpAbortContainer">
<button>
<a onclick="document.getElementById('confirmAbort').style.display='block';
document.getElementById('fade').style.display='block'"> 
Avbryt beställning
</a>
</button>
<a onclick="document.getElementById('help').style.display='block';
document.getElementById('fade').style.display='block'"> 
<img src="images/info.png" name="languageButton" class="helpLangButton"/>
</a>
</div>

</header>-->


            <!--Start of cart page-->
            <div id="cart" v-if="showCartPage">
                <h1 class="header" align="left">Varukorg</h1>
                <div class="mainContent">

                    <div class="cartOverviewBox">
                        <h2>Dina drycker</h2>
                    </div>
                    <div class="cartRecipeBox">
                        <h2>Din order</h2>


                    </div>
                </div>    
            </div><!--End of cart page--> 





        </div>
    </body>
</html>


