<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="css/cv_css.css">
        <script src="/vue/vue.js"></script>
        <script src="/socket.io/socket.io.js" defer></script>
        <script src="js/juicifer-main.js" defer></script>
        <script src="js/cv_script.js" defer></script>
        <title>Jucifer</title>
    </head>
    <body>
        <div id="all_cv">
            <!-- Hjälptab-->
            <div>
                <div id="help" class="popUpContent">
                    <h2>{{uiLabels.help}}</h2>
                    <a onclick="document.getElementById('help').style.display='none';
                                document.getElementById('fade').style.display='none'">
                        <button>{{uiLabels.return}}</button>
                    </a>
                </div>
                <div id="fade" class="blackOverlay"></div>
            </div>
            <!-- Slut på hjälptab-->
            <!-- Avbryttab-->
            <div>
                <div id="confirmAbort" class="popUpContent">
                    <h2>{{uiLabels.abortQuestion}}?</h2>
                    <a onclick="document.getElementById('confirmAbort').style.display='none';
                                document.getElementById('fade').style.display='none'">
                        <div class="flexAbort">
                            <button v-on:click="showTab('abortOrder')">{{uiLabels.yes}}</button>
                            <button>{{uiLabels.no}}</button>
                        </div>
                    </a>
                </div>
                <div id="fade" class="blackOverlay"></div>
            </div>
            <!-- Slut på avbryttab-->


            <!--Start of topbar-->
            <div class="topBarContainer" v-if="showTopBar">

                <!--Buttons to get help or switch language-->
                <div class="helpLangContainer" v-if="showHelpLangContainer">
                    <input type="image" src="images/gb_flagga.png" v-on:click="switchLang()" name="questionButton" id="langButton">
                    <a onclick="document.getElementById('help').style.display='block';
                                document.getElementById('fade').style.display='block'"> 
                        <img src="images/info.png" name="languageButton" id="helpButton"/>
                    </a>
                </div>
                <div v-if="showHelpLangContainer">
                    
                </div>

                <!--Buttons to abort and get help-->
                <div class="helpAbortContainer" v-if="showHelpAbortContainer">
                    <button>
                        <a onclick="document.getElementById('confirmAbort').style.display='block';
                                    document.getElementById('fade').style.display='block'"> 
                            {{uiLabels.cancel}}
                        </a>
                    </button>
                    <a onclick="document.getElementById('help').style.display='block';
                                document.getElementById('fade').style.display='block'"> 
                        <img src="images/info.png" name="languageButton" class="helpLangButton"/>
                    </a>
                </div>    

                <!--The top bar buttons-->
                <div class="topBarButton" v-if="showTopBarButton">
                    <button id="makeDrinkButton" type="button">{{uiLabels.createDrink}}</button>
                    <button id="cartButton" type="button" v-on:click='showTab("cartPage")'>{{uiLabels.chart}}</button>
                    <button id="payButton" type="button">{{uiLabels.payment}}</button>
                </div>
            </div>  
            <!--End of topbar-->



            <!--Start of start page-->

            <div id="start" v-if="showStartPage">
                <main>
                    <h1 class="header">{{uiLabels.welcomeText}}</h1>
                    <h2 class="subHeader"> {{uiLabels.chooseDrink}}:</h2>

                    <div class="startPageButtonContainer">
                        <div class="chooseDrinkTypeButton">
                            <button id="juiceButton" type="button" v-on:click="showTab('juiceIngredPage')">{{uiLabels.juice}}</button>
                        </div>

                        <div class="chooseDrinkTypeButton">
                            <button id="smoothieButton" type="button" v-on:click="showTab('sizePage'); addType('smoothie')">{{uiLabels.smoothie}}</button>
                        </div>      
                    </div>
                </main>
                <footer class="footer">
                    <p>&copy;1337-Leet Force</p>
                </footer>
            </div>

            <!--End of start page-->
            <!--Start of size page-->

            <div id="size" v-if="showSizePage">
                <main>
                    <h1 class="header">{{uiLabels.chooseSize}}</h1>

                    <div class="buttonSizeContainer">
                        <div class="chooseSizeButton">
                            <button id="smallButton" type="button" v-on:click="showTab('smoothieIngredPage')">Small</button>
                        </div>
                        <div class="chooseSizeButton">
                            <button id="mediumButton" type="button" v-on:click="showTab('smoothieIngredPage')">Medium</button>
                        </div>  

                        <div class="chooseSizeButton">
                            <button id="largeButton" type="button" v-on:click="showTab('smoothieIngredPage')">Large</button>
                        </div>
                    </div>
                </main>
                <footer class="footer">
                    <p>&copy;1337-Leet Force</p>
                </footer>
            </div>
            <!--End of size page-->


            <!--Start of smoothie ingredients page-->
            <div id ="smoothieIngredients" v-if="showSmoothieIngredPage">


                <!--Start of ingredient menus-->
                <h1 class="header" align="left">{{uiLabels.createDrink}}</h1>
                <div class="mainContent">                    
                    <!--Start of base ingredient menu-->
                    <div id=chooseIngredientsBox v-if="showButtonBox">
                        <div class="headContainer">
                            <div class="head">{{chosenCatName}}</div>
                            <input class="head" placeholder="Search" v-model="searchTerm">
                        </div>

                        <div class="flex-container">
                            <button class="chooseIngredientsButton" v-on:click="closeIngredMenus()">
                                {{uiLabels.return}}</button>
                            <button class="chooseIngredientsButton" v-on:click="choosePreMadeDrinks()">
                                {{uiLabels.ourFavorites}}</button>
                            <button class="chooseIngredientsButton" v-on:click="showAllIngredients()">{{uiLabels.allIngredients}}</button>

                            <button class="chooseIngredientsButton" v-for="catName in this.categories" v-if="showCatButtons" v-on:click="doShowIngredientsButtons(catName)">
                                {{catName}}</button>

                            <ingredient

                                        ref="ingredient"
                                        v-if="showIngredientsButtons"
                                        v-for="item in filtered_ingredients(chosenCatName).filter(searched_ingredients)"
                                        v-on:addIngredient="addToOrder(item),closeIngredMenus()"  
                                        :item="item" 
                                        :lang="lang"
                                        :key="item.ingredient_id"> 

                            </ingredient>
                        </div>
                    </div>

                    <!--End of standard ingredients menu-->
                    <!--End of ingredient menus-->
                    <!--Start of mug interface-->
                    <div class="mugContainer">
                        <div class="mug">
                            <div class="toppingButton">
                                <button id="topping"  v-on:click="showIngredients">{{uiLabels.topping}}</button>
                            </div>
                            <div class="mugButtons">
                                <button id="ingredient3" v-on:click="showIngredients('ingredCat')">Ingredient 3</button>
                                <br>
                                <button id="ingredient2" v-on:click="showIngredients('ingredCat')">Ingredient 2</button>
                                <br>
                                <button id="ingredient1" v-on:click="showIngredients('ingredCat')">Ingredient 1</button>
                                <br>
                                <button id="base" v-on:click="showIngredients('base')">{{uiLabels.base}}
                                </button> 
                            </div>
                        </div>
                    </div>
                    <!--End of mug interface-->
                </div>
            </div>
            <!--End of smoothie ingredients page-->
            <!--Start of juice ingredients page-->
            <div id="juiceIngredients" v-if="showJuiceIngredPage">
                <!--Start of mug interface-->
                <div class="mugContainer">
                    <div class="mug">
                        <div class="toppingButton">
                            <button id="topping">{{uiLabels.topping}}</button>
                        </div>
                        <div class="mugButtons">
                            <button id="ingredient5">Ingredient 5</button>
                            <br>
                            <button id="ingredient6">Ingredient 4</button>
                            <br>
                            <button id="ingredient3">Ingredient 3</button>
                            <br>
                            <button id="ingredient2">Ingredient 2</button>
                            <br>
                            <button id="ingredient1">Ingredient 1</button>    
                        </div>
                    </div>
                </div>
                <!--End of mug interface-->
            </div>
            <!--End of juice ingredients page-->


            <!--LEFTOVER I DON'T DARE TO REMOVE YET-->

            <!--   <div class="topBarContainer">
<div class="topBarButton">
<button id="makeDrinkButton" type="button">Skapa dryck</button>
</div>
<div class="topBarButton">
<button id="cartButton" type="button">Varukorg</button>
</div>
<div class="topBarButton">
<button id="payButton" type="button">Betala</button>
</div> 
</div> -->
            <!--   <header>
<div class="helpAbortContainer">
<button>
<a onclick="document.getElementById('confirmAbort').style.display='block';
document.getElementById('fade').style.display='block'"> 
Avbryt beställning
</a>
</button>
<a onclick="document.getElementById('help').style.display='block';
document.getElementById('fade').style.display='block'"> 
<img src="images/info.png" name="languageButton" class="helpLangButton"/>
</a>
</div>

</header>-->


            <!--Start of cart page-->
            <div id="cart" v-if="showCartPage">
                <h1 class="header" align="left">{{uiLabels.chart}}</h1>
                <div class="mainContent">

                    <div class="cartOverviewBox">
                        <h2>{{uiLabels.yourDrinks}}</h2>
                    </div>
                    <div class="cartRecipeBox">
                        <h2>{{uiLabels.yourOrder}}</h2>


                    </div>
                </div>    
            </div><!--End of cart page--> 





        </div>
    </body>
</html>


