<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="css/cv_css.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <script src="/vue/vue.js"></script>
        <script src="/socket.io/socket.io.js" defer></script>
        <script src="js/juicifer-main.js" defer></script>
        <script src="js/cv_script.js" defer></script>
        <title>Jucifer</title>
    </head>
    <body>
        <div id="all_cv">
            <!-- Hjälptab-->
            <div>
                <div id="help" class="popUpContent">
                    <h2>{{uiLabels.help}}</h2>
                    <a onclick="document.getElementById('help').style.display='none';
                                document.getElementById('fade').style.display='none'">
                        <button>{{uiLabels.return}}</button>
                    </a>
                </div>
                <div id="fade" class="blackOverlay"></div>
            </div>
            <!-- Slut på hjälptab-->
            <!-- Avbryttab-->
            <div>
                <div id="confirmAbort" class="popUpContent">
                    <h2>{{uiLabels.abortQuestion}}?</h2>
                    <a onclick="document.getElementById('confirmAbort').style.display='none';
                                document.getElementById('fade').style.display='none'">
                        <div class="flexAbort">
                            <button v-on:click="showTab('abortOrder')">{{uiLabels.yes}}</button>
                            <button>{{uiLabels.no}}</button>
                        </div>
                    </a>
                </div>
                <div id="fade" class="blackOverlay"></div>
            </div>
            <!-- Slut på avbryttab-->


            <!--Start of topbar-->
            <div class="topBarContainer" v-if="showTopBar">

                <!--Buttons to get help or switch language-->
                <div class="helpLangContainer" v-if="showHelpLangContainer">
                    <!-- antingen visas engelsk eller svensk flagga -->
                    <input type="image" v-if= this.chosenLangIsSv src='images/gb_flagga.png' v-on:click="switchLang()" name="questionButton" id="langButton">
                    <input type="image" v-if= !this.chosenLangIsSv src='images/sv_flagga.png' v-on:click="switchLang()" name="questionButton" id="langButton">
                    <a onclick="document.getElementById('help').style.display='block';
                                document.getElementById('fade').style.display='block'"> 
                        <img src="images/info.png" name="languageButton" id="helpButton"/>
                    </a>
                </div>
                <div v-if="showHelpLangContainer">

                </div>

                <!--Buttons to abort and get help-->
                <div class="helpAbortContainer" v-if="showHelpAbortContainer">

                    <button id="abort">
                        <a id="abortButton" onclick="document.getElementById('confirmAbort').style.display='block';
                                                     document.getElementById('fade').style.display='block'"> 

                            {{uiLabels.cancel}}
                        </a>
                    </button>


                    <a onclick="document.getElementById('help').style.display='block';
                                document.getElementById('fade').style.display='block'"> 
                        <img src="images/info.png" name="languageButton" class="helpLangButton"/>
                    </a>
                </div>    

                <!--The top bar buttons-->
                <div class="topBarButton" v-if="showTopBarButton">
                    <button id="makeDrinkButton" type="button" v-on:click="showTab('ingredPage')">{{uiLabels.createDrink}}</button>
                    &#10148 <!-- Detta gör en pil mellan knapparna -->
                    <button id="cartButtonGreen" type="button" v-if="canPressCart" v-on:click="showTab('cartPage')">{{uiLabels.chart}}</button>
                    <button id="cartButton" type="button" v-on:click="showTab('cartPage')" v-else>{{uiLabels.chart}}</button> 
                    &#10148 <!-- Detta gör en pil mellan knapparna -->
                    <button id="payButtonGreen" type="button" v-if="canPressPay" v-on:click="placeSuperOrder()">Betalning</button>
                    <button id="payButton" type="button" v-else>{{uiLabels.payment}}</button>
                </div>
            </div>  
            <!--End of topbar-->



            <!--Start of start page-->

            <div id="start" v-if="showStartPage">
                <main>
                    <h1 class="header">{{uiLabels.welcomeText}}</h1>
                    <h2 class="subHeader"> {{uiLabels.chooseDrink}}:</h2>

                    <div class="startPageButtonContainer">
                        <div class="largeButton">
                            <button id="juiceButton" type="button" v-on:click="showTab('sizePage')" onclick="createNewDrink('juice')">{{uiLabels.juice}}</button>
                        </div>

                        <div class="largeButton">
                            <button id="smoothieButton" type="button" v-on:click="showTab('sizePage')" onclick="createNewDrink('smoothie')">{{uiLabels.smoothie}}</button>
                        </div>      
                    </div>
                </main>
            </div>

            <!--End of start page-->
            <!--Start of size page-->

            <div id="size" v-if="showSizePage">
                <main>
                    <h1 class="header">{{uiLabels.chooseSize}}</h1>

                    <div class="buttonSizeContainer">
                        <div class="largeButton">
                            <button id="smallButton" type="button" v-on:click="showTab('ingredPage')" onclick="selectDrinkSizeAndPrice('S')">Small 10:-</button>
                        </div>
                        <div class="largeButton">
                            <button id="mediumButton" type="button" v-on:click="showTab('ingredPage')" onclick="selectDrinkSizeAndPrice('M')">Medium 20:-</button>
                        </div>  
                        <div class="largeButton">
                            <button id="largeButton" type="button" v-on:click="showTab('ingredPage')" onclick="selectDrinkSizeAndPrice('L')">Large 30:-</button>
                        </div>
                    </div>
                </main>

            </div>
            <!--End of size page-->


            <!--Start of smoothie ingredients page-->
            <div id ="ingredPage" v-if="showIngredPage">


                <!--Start of ingredient menus-->
                <h1 class="header" align="left">{{uiLabels.createDrink}}</h1>
                <div class="mainContent">                    
                    <!--Start of base ingredient menu-->
                    <div id=chooseIngredientsBox v-if="showButtonBox">
                        <div class="headContainer">
                            <div class="head">{{chosenCatName}}</div>
                            <input class="head" placeholder="Search" v-model="searchTerm">
                        </div>

                        <div class="flexContainer">
                            <button class="chooseIngredientsButton" id="returnButton" v-on:click="closeIngredMenus()">
                                {{uiLabels.return}}</button>
                            <button class="chooseIngredientsButton" v-on:click="choosePreMadeDrinks()">
                                {{uiLabels.ourFavorites}}</button>
                            <button class="chooseIngredientsButton" v-on:click="showAllIngredients()">{{uiLabels.allIngredients}}</button>

                            <button class="chooseIngredientsButton" v-for="catName in this.categories" v-if="showCatButtons" v-on:click="doShowIngredientsButtons(catName)">
                                {{catName}}</button>

                            <ingredient
                                        ref="ingredient"
                                        v-if="showIngredientsButtons"
                                        v-for="item in filtered_ingredients(chosenCatName).filter(searched_ingredients)"
                                        v-on:add-ingredient="closeIngredMenus(),vueAddIngredientToActiveDrink(item),updateMugButton(),checkIfMugIsFilled()"
                                        :item="item" 
                                        :lang="lang"
                                        :key="item.ingredient_id"> 
                            </ingredient>
                        </div>
                    </div>
                    <!--End of standard ingredients menu-->
                    <!--End of ingredient menus-->
                    <!--Start of smoothie mug interface-->
                    <div id="smoothieMug" v-if="showSmoothieMug">
                        <div class="mugContainer">
                            <div class="mug">
                                <div class="toppingButton">
                                    <button id="topping" v-on:click="showIngredients('topping',0)">{{topping}}<!--{{uiLabels.topping}}--></button>
                                </div>
                                <div class="mugButtons">
                                    <div class="ingred">
                                        <div class="ingredButton" id="ingred5" v-on:click="showIngredients('ingredCat',5)"><span>{{ingredient3}}</span></div> <!-- ingrediensvariabeln ligger i cv_sripts vue-data-grej-->
                                        <div class="ingredButton" id="ingred4" v-on:click="showIngredients('ingredCat',4)"><span>{{ingredient2}}</span></div>
                                        <div class="ingredButton" id="ingred3" v-on:click="showIngredients('ingredCat',3)"><span>{{ingredient1}}</span></div>
                                        <div class="ingredButton" id="baseIngred" v-on:click="showIngredients('base',6)"><span>{{base}}<!--{{uiLabels.base}}--></span>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of smoothie mug interface-->
                    <!--Start of juice mug interface-->
                    <div id="juiceMug" v-if="showJuiceMug">
                        <div class="mugContainer">
                            <div class="mug">
                                <div class="toppingButton">
                                    <button id="topping" v-on:click="showIngredients('topping',0)">{{uiLabels.topping}}</button>
                                </div>
                                <div class="mugButtons">
                                    <div class="ingred" id="ingredJuice">
                                        <div class="ingredButton ingredButtonJuice" id="ingred5" v-on:click="showIngredients('ingredCat',5)"><span>{{ingredient5}}</span></div>
                                        <br>
                                        <div class="ingredButton ingredButtonJuice" id="ingred4" v-on:click="showIngredients('ingredCat',4)"><span>{{ingredient4}}</span></div>
                                        <br>
                                        <div  class="ingredButton ingredButtonJuice ingred3" id="ingred3" v-on:click="showIngredients('ingredCat',3)"><span>{{ingredient3}}</span></div>
                                        <br>
                                        <div class="ingredButton ingredButtonJuice" id="ingred2" v-on:click="showIngredients('ingredCat',2)"><span>{{ingredient2}}</span></div>
                                        <br>
                                        <div class="ingredButton ingredButtonJuice" id="ingred1" v-on:click="showIngredients('ingredCat',1)"><span>{{ingredient1}}</span></div>    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of juice mug interface-->
                </div>
            </div>
            <!--End of ingredients page-->
            <!--Start of cart page-->
            <div id="cart" v-if="showCartPage">
                <h1 class="header" align="left">{{uiLabels.chart}}</h1>
                <div class="mainContent">
                    <div class="cartOverviewBox">
                        <h2>{{uiLabels.yourDrinks}}</h2>
                        <!--Start of cart smoothie mug interface-->
                        <div class="mugContainer" v-if="showSmoothieInCart">
                            <div class="mugCart">
                                <div class="toppingButton">
                                    <button id="toppingCart"><span style="display:none">{{topping}}</span></button>
                                </div>
                                <div class="mugButtons">
                                    <div class="ingredCart">
                                        <div class="ingredButtonCart" id="ingred5Cart"><span>{{ingredient3}}</span></div>
                                        <div class="ingredButtonCart" id="ingred4Cart"><span>{{ingredient2}}</span></div>
                                        <div class="ingredButtonCart" id="ingred3Cart"><span>{{ingredient1}}</span></div>
                                        <div class="ingredButtonCart" id="baseIngredCart"></div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End of cart smoothie mug interface-->
                        <!--Start of cart juice mug interface-->
                        <div class="mugContainer" v-if="showJuiceInCart">
                            <div class="mugCart">
                                <div class="toppingButton">
                                    <button id="toppingCart"><span style="display:none">{{topping}}</span></button>
                                </div>
                                <div class="mugButtons">
                                    <div class="ingredCart" id="ingredJuice">
                                        <div class="ingredButton ingredButtonJuice" id="ingred5Cart"><span>{{ingredient5}}</span></div>
                                        <br>
                                        <div class="ingredButton ingredButtonJuice" id="ingred4Cart"><span>{{ingredient4}}</span></div>
                                        <br>
                                        <div  class="ingredButton ingredButtonJuice ingred3" id="ingred3Cart"><span>{{ingredient3}}</span></div>
                                        <br>
                                        <div class="ingredButton ingredButtonJuice" id="ingred2Cart"><span>{{ingredient2}}</span></div>
                                        <br>
                                        <div class="ingredButton ingredButtonJuice" id="ingred1Cart"><span>{{ingredient1}}</span></div>    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End of cart juice mug interface-->
                    </div>
                    <div class="cartRecipeBox">
                        <h2>{{uiLabels.yourDrink}}</h2>                        
                        <h3> {{uiLabels.ingredients}}</h3>
                    <!-- <div class="oneDrink" v-for="drink in vueSuperOrder.drinks[vueSuperOrder.activeDrink]">
                        <li>{{uiLabels.price}}: {{getPrice(drink)}} </li>
                        <li> Bas: {{drink.ingredients[6]["ingredient_sv"]}} </li><br>
                        <li>Ingrediens 3: {{drink.ingredients[3]["ingredient_sv"]}}</li> <br>
                        <li>Ingrediens 4: {{drink.ingredients[4]["ingredient_sv"]}}</li> <br>
                        <li>Ingrediens 5: {{drink.ingredients[5]["ingredient_sv"]}}</li> <br>
                        <li>Topping: {{drink.ingredients[0]["ingredient_sv"]}} </li>
                        
                    </div>
                       <h3>{{currentDrinkInfo}}  </h3>
                        <ul v-for="aDrink in vueSuperOrder.drinks[vueSuperOrder.activeDrink]"> 
                        <li v-for="ingredient in writeOutIngredients(aDrink)">{{ingredient["ingredient_"+lang]}}</li>
                        </ul>-->
                    </div>
                </div>    

            </div>
          <!--End of cart page--> 

<!--
            <footer class="footer" v-if="showFooter">
                <p>&copy;1337-Leet Force</p>
            </footer>
-->

        </div>
    </body>
</html>
