<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>        
        <link rel="stylesheet" href="cv_css.css">
        <title>Varukorg</title>
    </head>
    <body>
        <main>
            <div class="topBarContainer">
                <div class="topBarButton">
                    <button id="makeDrinkButton" type="button">Skapa dryck</button>
                </div>
                <div class="topBarButton">
                    <button id="cartButton" type="button">Varukorg</button>
                </div>
                <div class="topBarButton">
                    <button id="payButton" type="button">Betala</button>
                </div>
            </div>
            <header>
                <div class="helpLangContainer"  >
                    <button id="abortButton button">Avbryt beställning</button>
                    <button id="helpButton">?</button>
                </div>
                <h1 class="cart_page_header">Lägg till dryck</h1>
                <h2 class="subHeader"> Jag vill ha en:</h2>
            </header>
            <div class="startPageButtonContainer">
                <div class="chooseDrinkTypeButton">
                    <button id="juiceButton" type="button">Juice</button>
                </div>

                <div class="chooseDrinkTypeButton">
                    <button id="smoothieButton" type="button">Smoothie</button>
                </div>      
            </div>
        </main>
        <footer>
            <p>&copy;1337-Leet Force</p>
        </footer>
    </body>
</html
