<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="reset_css.css">
        <meta charset="utf-8"/>        
        <link rel="stylesheet" href="cv_css.css">
        <title>Varukorg</title>
    </head>
    <body>
        <main>
            <div class="topBarContainer">
                <div class="topBarButton">
                    <button id="makeDrinkButton" type="button">Skapa dryck</button>
                </div>
                <div class="topBarButton">
                    <button id="cartButton" type="button">Varukorg</button>
                </div>
                <div class="topBarButton">
                    <button id="payButton" type="button">Betala</button>
                </div>
            </div>
            <header>
                <div class="helpLangContainer"  >
                    <button id="abortButton button">Avbryt beställning</button>
                    <button id="helpButton">?</button>
                </div>
                <h1 class="header" align="left">Varukorg</h1>
            </header>
            <div class="cartBox">
                    <div class="cartOverviewBox">
                    </div>
                    <div class="cartRecipeBox">
                    </div>
                </div>
        </main>
        <footer>
            <p>&copy;1337-Leet Force</p>
        </footer>
    </body>
</html
