<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
        <link rel="stylesheet" href="cv_css.css">
		<title>Jucifer - Lägg till dryck</title>
	</head>
	<body>
		<main>
            <div class="topBarContainer">
                <div class="topBarButton">
                    <button id="cartButton" type="button">Varukorg</button>
                </div>
            </div>
			<header>
                <div class="helpLangContainer"  >
                <button id="abortButton button">Avbryt beställning</button>
                <button id="helpButton">?</button>
                </div>
                <h1 class="header">Lägg till dryck</h1>
                <h2 class="subHeader"> Jag vill ha en:</h2>
            </header>
            <div class="buttonContainer">
                <div class="chooseDrinkTypeButton">
                    <button id="juiceButton" type="button">Juice</button>
                </div>

                <div class="chooseDrinkTypeButton">
                    <button id="smoothieButton" type="button">Smoothie</button>
                </div>      
            </div>
		</main>
		<footer>
		<p>&copy;1337-Leet Force</p>
		</footer>
	</body>
</html