/*Start på css för start page*/

header{
    text-align: center;
    position: relative;

}
.helpLangContainer{
    position: absolute;
    top:1em;
    right: 1em; 
}
#language{
    width: 2em;
    height: 2em;
    background-image: url("data/pictures/union_jack_small.png");
    background-size: 100%
}


.startPageButtonContainer{
    text-align: center;
    margin-top: 8em;
    margin-bottom: 12em;
    width: 100%;
}   

.chooseDrinkTypeButton{
    display: inline-block;
    margin: 0px 25px 0px 25px;
}

.chooseDrinkTypeButton button{
    height: 10em;
    width: 10em;
}

footer {
    text-align: center;
}

/* Slut på css för start page*/
/*cv_add_drink_page startar*/
.topBarContainer{
    text-align: center;
    height: 3em;
    width: 100%;
}
.topBarButton{
    display: inline-block;
    margin-top: .5em;
    margin-bottom; .5em;
    display: inline-block;
}
.topBarButton button{
    height: 2em;
    width: 10em;
}
.abortButton button{
    height: 2em;
    width: 2em;
}
/*cv_add_drink_page slutar*/
/* Start på css for choose size page*/

.chooseSize {
    text-align: center;
    padding-top: 4em;
}

.buttonSizeContainer{
    text-align: center;
    margin-top: 6em;
    margin-bottom: 5em;
    width: 100%;
}   

.chooseSizeButton {
    display: inline-block;
    margin: 0px 25px 0px 25px;
}

.chooseSizeButton button {
    height: 10em;
    width: 10em;
}

/*Start css for smoothie choose ingredients */
.mug{
    position: absolute;
    top:50vh;
    right: 5em; 
    background-color: #DCDCDC;

    /*making the shaps*/
    width: 0; 
    height: 0;
    border-top: 120px solid blue;
    border-left: 60px solid transparent; 
    border-right: 60px solid transparent; 
}
.mugButtons button{
    margin: 1em;
    width: 10em;
}
/*End css for smoothie choose ingredients */
/* cv_cart_page börjar*/
.cartBox{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #ccc; /*Skall tas bort när sidan fungerar*/
/*    overflow: hidden;*/
}
.cartOverviewBox{
    flex: auto;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid #ccc;
    overflow: auto;
}
.cartRecipeBox{
    flex-basis: 25em;
    padding: 10px;
    border: 1px solid #ccc;
    overflow: auto;
}
/* cv_cart_page börjar*/
