/*Start på css för start page*/
header{
    text-align: center;
    position: relative;

}
.helpLangContainer{
    position: absolute;
    top:1em;
    right: 1em; 
}
#language{
    width: 2em;


    height: 2em;
    background-image: url("union_jack_small.png");
    background-size: 100%
}



.startPageButtonContainer{
    text-align: center;
    margin-top: 8em;
    margin-bottom: 12em;
    width: 100%;
}   

.chooseDrinkTypeButton{
    display: inline-block;
    margin: 0px 25px 0px 25px;
}

.chooseDrinkTypeButton button{
    height: 10em;
    width: 10em;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Slut på css för start page*/
/*cv_add_drink_page startar*/
.topBarContainer{
    text-align: center;
    height: 3em;
    width: 100%;
}
.topBarButton{
    display: inline-block;
    margin-top: .5em;
    margin-bottom; .5em;
    display: inline-block;
}
.topBarButton button{
    height: 2em;
    width: 10em;
}
.abortButton button{
    height: 2em;
    width: 2em;
}
/*cv_add_drink_page slutar*/
/* Start på css for choose size page*/

.chooseSize {
    text-align: center;
    padding-top: 4em;
}

.buttonSizeContainer{
    text-align: center;
    margin-top: 6em;
    margin-bottom: 5em;
    width: 100%;
}   

.chooseSizeButton {
    display: inline-block;
    margin: 0px 25px 0px 25px;
}

.chooseSizeButton button {
    height: 10em;
    width: 10em;
}


/*Start css for smoothie choose ingredients */

.mainContent {
    border-style: solid;
    display: flex;
    align-content: center;
    height: 90vh;
    justify-content: flex-end;
    align-items: center;
}

.mugContainer {
    border-style: solid;
    display: flex;
    margin-right: 3em;
}

.mug{
    height: 368px;
    width: 250px;
    background-image: url(mug.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column;
    justify-content: space-around;

}

.toppingButton{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.mugButtons{
    flex: 3;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

.mugButtons button{
    align-self: center;
    flex-basis: 2em;
    min-width: 10em;
}

#topping {
    align-self: center;
    flex-basis: 2em;
    min-width: 13em;
}
/*End css for smoothie choose ingredients */
/* cv_cart_page börjar*/
.cartBox{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #ccc; /*Skall tas bort när sidan fungerar*/
    /*    overflow: hidden;*/
}
.cartOverviewBox{
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid #ccc;
    overflow: auto;
}
.cartRecipeBox{
    flex-basis: 25em;
    padding: 10px;
    border: 1px solid #ccc;
    overflow: auto;
}
/* cv_cart_page slutar*/

/* cv_base_ingred börjar*/

#baseIngred {
    display: none;
}

.flex-container {
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    background-color: deepskyblue;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.flex-container>button {
    background-color: #f1f1f1;
    width: 150px;
    height: 150px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 1.5em;
}

/* cv_base_ingred slutar*/