<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
        <link rel="stylesheet" href="cv_css.css">
		<title>Jucifer</title>
	</head>
	<body>
		  <main>
			<header>
            <div class="helpLangContainer">
            <button id="helpButton">?</button>
            </div>
            <h1 class="chooseSize">Välj storlek:</h1>
            </header>
            <div class="buttonSizeContainer">
                <div class="chooseSizeButton">
                    <button id="smallButton" type="button">Small</button>
                </div>

                <div class="chooseSizeButton">
                    <button id="mediumButton" type="button">Medium</button>
                </div>  
                
                <div class="chooseSizeButton">
                    <button id="largeButton" type="button">Large</button>
                </div>
              </div>
		    </main>
		<footer class="footer">
		<p>&copy;1337-Leet Force</p>
		</footer>
	</body>
</html