<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
        <link rel="stylesheet" href="C:\Users\Felix\OneDrive - Uppsala universitet\Skolarbeten\Gränssnittsprogrammering\public\1337-Jucifer\public\css\cv_css.css">
		<title>Jucifer</title>
	</head>
	<body>
		<main>
			<header>
                <div class="helpLangContainer"  >
                <button id="language"></button>
                <button id="helpButton">?</button>
                </div>
                <h1 class="header">Välkommen till Jucifer</h1>
                <h2 class="subHeader"> Välj din dryck:</h2>
            </header>
            <div class="buttonContainer">
                <div class="chooseDrinkTypeButton">
                    <button id="juiceButton" type="button">Juice</button>
                </div>

                <div class="chooseDrinkTypeButton">
                    <button id="smootieButton" type="button">Smoothie</button>
                </div>      
            </div>
		</main>
		<footer>
		<p>&copy;1337-Leet Force</p>
		</footer>
	</body>
</html