<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
        <link rel="stylesheet" href="C:\Users\Felix\OneDrive - Uppsala universitet\Skolarbeten\Gränssnittsprogrammering\public\1337-Jucifer\public\css\cv_css.css">
		<title>Jucifer</title>
	</head>
	<body>
		<main>
            <div class="banner">
                <div class="bannerButtons">
                    <button id="base">?</button>
                    <button id="ingredient1">?</button>
                    <button id="ingredient2">?</button>
                
                </div>
            </div>
            <div class="ingredientsButton">
                <br>
                <button id="base">?</button>
                <br>
                <button id="ingredient1">?</button>
                <br>
                <button id="ingredient2">?</button>
                <br>
                <button id="ingredient3">?</button>
                <br>
                <button id="topping">?</button>
                
            </div>
        </main>
    </body>
</html>