/* kommentarer ser ut så här ctrl shift i*/
@media screen and (aspect-ratio: 16/9){}

/*{
    box-sizing: border-box;
}*/

#testdiv{
    border: 2px solid #ccc;
}

div.menu {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.menu button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    width: 20%;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

#newOrderTab{
    background-color:gold;
    /*background-color:*/
}

#orderQueueTab{
    background-color:gainsboro;
}

#orderHistoryTab{
    background-color:lightcoral;
}

#inventoryTab{
    background-color:mediumpurple;
    /*dra ner transparity*/
}

#statisticsTab{
    background-color:lightpink  ;
}

/* Change background color of buttons on hover */
div.menu button:hover {
    /*background-color: #ddd;*/
    font-weight: bold;
}

/* Create an active/current tablink class */
    /*DENNA GÖR INGET VA?*/
div.menu button.active {
    /*background-color: #ccc;*/
    font-weight: bold;
}

/* Style the tab content */
.menuContent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

h3{
    /*font: bold; */
    text-align:center;
}

h4{
    
}


/*SLUT KOD SOM RÖR ALLT*/

/*Start css för NEW ORDER*/
/*Slut NEW ORDER*/

/*Start css för ORDER QUEUE*/

/*Slut ORDER QUEUE*/

/*Start css för ORDER HISTORY*/

#oHBoxContainer{
    position: relative;
    height:90vh;
    background-color: lightcoral;
}

.leftSideMenuBox{
    position:absolute;
    width: 25%;
    height:80vh;
    bottom: 4px;
    left: 4px;
    background-color: rgb(175,174,187);
    border: 2px solid rgb(125,124,127);
}

#oHMenu{}

.rightSideBox{
    position:absolute;
    width: 25%;
    height:80vh;
    bottom: 4px;
    right: 4px;
    background-color: rgb(185,184,197);
    border: 2px solid rgb(125,124,127);
}


            
#oHIngridients{}

.juicesInTheOrder{
    position:absolute;
    width: 40%;
    left: 30%;
    top: 60px;
    background-color: rgb(175,174,187);
    border: 2px solid rgb(125,124,127);
}

.pressedJucesInTheOrder{
    filter: brightness(85%);
}


#oHTimeInfo{
    position: relative;
    width: 30%;
    height: 25vh;
    /*left: 35%;*/
    margin: auto;
    top: 400px;
    background-color: rgb(210,210,210);
    border: 2px solid rgb(125,124,127);
}

.oneOrder{
    position: relative;
    width: 90%;
    height: 10vh;
    margin: 7px auto;
    top: 13px;
    background-color: rgb(210,210,210);
    border: 2px solid rgb(125,124,127);
}

#order1{
}

/*Slut ORDER HISTORY*/

/*Start css för INVENTORY*/
/*Slut INVENTORY*/

/*Start css för STATISTICS*/
/*Slut STATISTICS*/

.hide{
    display: none;
}
