<!-- kommentar -->
<!DOCTYPE html>
<html lang="en">


    <head>
        <title>Staff View - inventory</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="sw_css.css">
        <script src="sw_script.js"></script>
    </head>
    <body>
        
  <!-- HÄR SKAPAS TAB-BAREN MED MENYKNAPPAR -->     
        <div class="menu">
            <button class="menuLinks" id="newOrderTab" onclick="openInNewTab('cv_start_page.html')">New Order</button>
            <button class="menulinks" id="orderQueueTab" onclick="showTab('sw_order_queue.html')">Order Queue</button>
            <button class="menulinks"  id="orderHistoryTab" onclick="showTab('sw_order_history.html')">Order History</button>
            <button class="menulinks"  id="inventoryTab" onclick="showTab('sw_inventory.html')"> Inventory</button>
            <button class="menulinks"  id="statisticsTab" onclick="showTab('sw_statistics.html')">Statistics</button>

      </div>

    <!-- HÄR SKAPAS SIDSPECIFIKA GREJER -->
    <div id="inventoryContainer">
        <div id="inventoryInformation">
            <table>
                <tr>
                    <th>Company</th>
                    <th>Contact</th>
                    <th>Country</th>
                </tr>
                <tr>
                    <td>Alfreds Futterkiste</td>
                    <td>Maria Anders</td>
                    <td>Germany</td>
                </tr>
                <tr>
                    <td>Centro comercial Moctezuma</td>
                    <td>Francisco Chang</td>
                    <td>Mexico</td>
                </tr>
                <tr>
                    <td>Ernst Handel</td>
                    <td>Roland Mendel</td>
                    <td>Austria</td>
                </tr>
                <tr>
                    <td>Island Trading</td>
                    <td>Helen Bennett</td>
                    <td>UK</td>
                </tr>
                <tr>
                    <td>Laughing Bacchus Winecellars</td>
                    <td>Yoshi Tannamuri</td>
                    <td>Canada</td>
                </tr>
                <tr>
                    <td>Magazzini Alimentari Riuniti</td>
                    <td>Giovanni Rovelli</td>
                    <td>Italy</td>
                </tr>

        </div>

        <div id="SubmitChange">
            <button class = "SubmitButton">Save new balance </button> </div>


    </div>


    inventory farangis
</body>

</html>