<!-- kommentar -->
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Staff View - order history</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="sw_css.css">
        <!-- <script src="C:\Users\Ingrid\Documents\GitHub\1337-Jucifer\views\sw_script.js"></script> -->
        
    </head>
    <body id=oHBody>
        <div id="oHBoxes">
            <div class="leftSideMenuBox" id="oHMenu">
                <h3>orderHistoryMenu</h3>
            </div>
            
            <div class="rightSideBox" id="oHIngridients">
                <h3>orderHistoryIngridients</h3>
                Recipie L Apple juice
            </div>
            
            <div class="juicesInTheOrder" id="oHJuicesInOrder">
                orderHistoryJuicesInOrder
            </div>
            
            <div id="oHTimeInfo">
                <h3>orderHistoryTimeInfo</h3>
                Order placed: 2017-11-21 12:01 <br><br> Order placed: 2017-11-21 12:05
                
            </div>
        </div>
        

        
        <script>
        </script>
        
    </body>

</html>