<!-- kommentar -->
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Staff View - order queue</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="sw_css.css">
        <script src="sw_script.js"></script>
    </head>
    <body>
        
  <!-- HÄR SKAPAS TAB-BAREN MED MENYKNAPPAR -->     
        <div class="menu">
            <button class="menuLinks" id="newOrderTab" onclick="showTab('sw_new_order.html')">New Order</button>
            <button class="menulinks" id="orderQueueTab" onclick="showTab('sw_order_queue.html')">Order Queue</button>
            <button class="menulinks"  id="orderHistoryTab" onclick="showTab('sw_order_history.html')">Order History</button>
            <button class="menulinks"  id="inventoryTab" onclick="showTab('sw_inventory.html')"> Inventory</button>
            <button class="menulinks"  id="statisticsTab" onclick="showTab('sw_statistics.html')">Statistics</button>
        </div>

<!-- HÄR SKAPAS SIDSPECIFIKA GREJER -->             
        order queue

    
    </body>
    
</html>