<!-- kommentar -->
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Staff View - order history</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="sw_css.css">
        <script src="sw_script.js"></script>
        <!-- DETTA ÄR ETT TEST FÖR JQUERY, toggle - INGRID
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    </head>
    
    <body id=oHBody>
        
  <!-- HÄR SKAPAS TAB-BAREN MED MENYKNAPPAR -->     
        <div class="menu">
            <button class="menuLinks" id="newOrderTab" onclick="showTab('sw_new_order.html')">New Order</button>
            <button class="menulinks" id="orderQueueTab" onclick="showTab('sw_order_queue.html')">Order Queue</button>
            <button class="menulinks"  id="orderHistoryTab" onclick="showTab('sw_order_history.html')">Order History</button>
            <button class="menulinks"  id="inventoryTab" onclick="showTab('sw_inventory.html')"> Inventory</button>
            <button class="menulinks"  id="statisticsTab" onclick="showTab('sw_statistics.html')">Statistics</button>
        </div>
        
<!-- HÄR SKAPAS SIDSPECIFIKA GREJER -->        
        
        <div id="oHBoxContainer">
            <div class="leftSideMenuBox" id="oHMenu">
                <!-- <h3>orderHistoryMenu</h3> -->
                <div class="oneOrder" id="order1">
                    <h3><strong>3</strong> 12:01, 23</h3>
                </div>
                <div class="oneOrder" id="order2">
                    <h3><strong>1</strong> 12:04, 24</h3>
                </div>
                <div class="oneOrder" id="order3">
                    <h3><strong>5</strong> 12:06, 25</h3>
                </div>                
            </div>
            
            <div class="rightSideBox" id="oHIngridients">
                <h3>orderHistoryIngridients</h3>
                Recipie L Apple juice
            </div>
            
            <div class="juicesInTheOrder" id="oHJuicesInOrder" onclick=          "pressedOHJuicesInOrder('1 x L Applejuice', 'oHJuicesInOrder')">
                orderHistoryJuicesInOrder
            </div>
            
            <div id="oHTimeInfo">
                <h3>orderHistoryTimeInfo</h3>
                Order placed: 2017-11-21 12:01 <br><br> Order placed: 2017-11-21 12:05
                
            </div>
        </div>        
        
    </body>

</html>