<!-- kommentar -->
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Staff View - statistics</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="css/sw_css.css">
        <script src="js/sw_script.js" defer></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        
        <!--            <div id= "stats"><div id="piechart"></div></div>-->

        <!--
<script type="text/javascript">
google.charts.load("current", {packages:["corechart"]});
google.charts.setOnLoadCallback(drawChart);
function drawChart() {
var data = google.visualization.arrayToDataTable([
['Task', 'Hours per Day'],
['Work',     11],
['Eat',      2],
['Commute',  2],
['Watch TV', 2],
['Sleep',    7]
]);

var options = {
title: 'Popular ingredients',
is3D: true,
};

var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
chart.draw(data, options);
}
</script>
-->
    </head>
    <body>

        <!-- HÄR SKAPAS TAB-BAREN MED MENYKNAPPAR -->     
        <div class="menu">
            <button class="menuLinks" id="newOrderTab" onclick="openInNewTab('cv_start_page.html')">New Order</button>
            <button class="menulinks" id="orderQueueTab" onclick="showTab('sw_order_queue.html')">Order Queue</button>
            <button class="menulinks"  id="orderHistoryTab" onclick="showTab('sw_order_history.html')">Order History</button>
            <button class="menulinks"  id="inventoryTab" onclick="showTab('sw_inventory.html')"> Inventory</button>
            <button class="menulinks"  id="statisticsTab" onclick="showTab('sw_statistics.html')">Statistics</button>
        </div><div id= "stats"><div id="piechart_3d"></div></div>


        <!-- HÄR SKAPAS SIDSPECIFIKA GREJER -->        

        statistics farangis


    </body>

</html>



