/*Container for css related to topbarcontainer */



















/*Start på css för start page*/
.header{
    text-align: center;
    position: relative;

}
.subHeader {
    text-align: center;
    position: relative;
}

.helpLangContainer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:1em;
    right: 1em; 
    width: 6vw;
}
/*Går det att ärva från andra klasser?*/
.helpAbortContainer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:1em;
    right: 1em; 
    width: 13vw;
}

#langButton{
    width: 2.5em;
    height: 2.5em;
}

#helpButton{
    width: 2em;
    height: 2em;
}

.blackOverlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
    opacity: .80;
    filter: alpha(opacity=80); /*För att det ska fungera på samtliga browsers (tror jag)*/
}
.popUpContent {
    display: none;
    position: absolute;
    top: 25%;
    left: 32.5%;
    width: 25%;
    height: 25%;
    padding: 2em;
    border: 2em solid deepskyblue;
    background-color: white;
    margin:0 auto;
    z-index: 2;
}

.flexAbort {
    display: flex;
    justify-content: space-between;
}

.popUpContent button {
    background-color: deepskyblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.startPageButtonContainer{
    text-align: center;
    margin-top: 8em;
    margin-bottom: 12em;
    width: 100%;
}   

.chooseDrinkTypeButton{
    display: inline-block;
    margin: 0px 25px 0px 25px;
}

.chooseDrinkTypeButton button{
    height: 10em;
    width: 10em;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Slut på css för start page*/
/*cv_add_drink_page startar*/
.topBarContainer{
    text-align: center;
    height: 3em;
    width: 100%;
}
.topBarButton{
    display: inline-block;
    margin-top: .5em;
    margin-bottom; .5em;
    display: inline-block;
}
.topBarButton button{
    height: 2em;
    width: 10em;
}
.abortButton button{
    height: 2em;
    width: 2em;
}
/*cv_add_drink_page slutar*/
/* Start på css for choose size page*/

.chooseSize {
    text-align: center;
    padding-top: 4em;
}

.buttonSizeContainer{
    text-align: center;
    margin-top: 6em;
    margin-bottom: 5em;
    width: 100%;
}   

.chooseSizeButton {
    display: inline-block;
    margin: 0px 25px 0px 25px;
}

.chooseSizeButton button {
    height: 10em;
    width: 10em;
}


/*Start css for smoothie choose ingredients */


.mainContent {
    border-style: solid;
    display: flex;
    align-content: center;
    height: 80vh;
    justify-content: flex-end;
    align-items: center;
}


.mugContainer {
    border-style: solid;
    display: flex;
    margin-right: 3em;
}

.mug{
    height: 368px;
    width: 250px;
    background-image: url(/images/mug.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.toppingButton{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.mugButtons{
    flex: 3;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

.mugButtons button{
    align-self: center;
    flex-basis: 2em;
    min-width: 10em;
}

#topping {
    align-self: center;
    flex-basis: 2em;
    min-width: 13em;
}
/*End css for smoothie choose ingredients */
/* cv_cart_page börjar*/
.cartBox{
    display: flex;
    flex: 1;
    height: 90vh;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #ccc; /*Skall tas bort när sidan fungerar*/
    /*    overflow: hidden;*/
}
.cartOverviewBox{
    flex: 4;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid;
    overflow: auto;
    align-self: stretch;
}
.cartRecipeBox{
    flex: 2;
    padding: 10px;
    align-content: center;
    border: 1px solid;
    overflow: auto;
    align-self: stretch;
}
/* cv_cart_page slutar*/

/* cv_base_ingred börjar*/

.headContainer{
    display: flex;  
    width: 70%;
    flex-direction: row;
   
}

.head {
    border-style: solid;
    text-align: center;
    flex: 3 ;
    font-size: 1.5em;
    
}
input.head {
    flex: 1 ;
    border-style: solid;
    text-align: left;
    
}

.flex-container {
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    background-color: deepskyblue;
    width: 70%;
    justify-content: center;
    align-items: center;

    flex: 1 1 auto;
    overflow-y: auto;
    height: 60vh;
}

.flex-container>button {
    background-color: #f1f1f1;
    width: 150px;
    height: 150px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 1.5em;
}

/* cv_base_ingred slutar*/
