/* kommentarer ser ut så här ctrl shift i*/

@media screen and (aspect-ratio: 16/9) {}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

h1{}
h2{
    font-size: 3vh;
    text-align: center;
}
/*Med h3 och h4 kan du fixa så orderinfon visas rätt. I varje One order*/
h3 {
    /*font: bold; */
    text-align:left;
}

h4 {
    text-align: right;
}

/*{
box-sizing: border-box;
}*/

div.menu {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */

div.menu button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    width: 19%;
    height: 7vh;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

#newOrderTab {
    background-color: gold;
    /*background-color:*/
}

#orderQueueTab {
    background-color: rgb(234, 234, 225);
    ;
}

#orderHistoryTab {
    background-color: lightcoral;
}


/*INVENTORY*/

#inventoryTab {

    background-color: #cc99ff;
    /*dra ner transparity*/
}

#statisticsTab {
    background-color: #ffccff;
}

#languageTab{
    color: aliceblue;
    background-color:darkolivegreen;
    width: 5%;
    font-size: 10px;
}

/*INVENTORY*/



#inventoryContainer {
    background-color: #cc99ff;
    opacity: 0.8;
    position: relative;
    height: 90vh;


}

#inventoryInformation {
    /* Detta är då min DIV som jag har problem med */
    background-color: #e6e6e6;
    border: 5px solid #bfbfbf;
    width: 75%;
    height: 75%;
    top: 50px;
    left: 15px;
    position: relative;
    overflow-y: scroll;

}

/*KNAPPEN I INVENTORY*/

#SubmitChange {
    position: absolute;
    left: 80%;
    bottom: 80%;
}

.SubmitButton {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #a6a6a6;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px grey;
}

.SubmitButton:hover {
    background-color: #999999
}

.SubmitButton:active {
    background-color: #999999;
    box-shadow: 0 5px #404040;
    transform: translateY(4px);
}



/* STATISTIKDELEN */


#stats {
    position: relative;
    height: 90vh;
    background-color: #ffccff;
    font-size: 0;

}

#piechart_3d {
    position: relative;
    border: 25px solid purple;
    width: 900px;
    height: 500px;
    display: table;
    margin: 0 auto;
    bottom: -57px;




}


/* Change background color of buttons on hover */

div.menu button:hover {
    /*background-color: #ddd;*/
    font-weight: bold;
}

/* Create an active/current tablink class */

/*DENNA GÖR INGET VA?*/

div.menu button.active {
    /*background-color: #ccc;*/
    font-weight: bold;
}

/* Style the tab content */

.menuContent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


/*SLUT KOD SOM RÖR ALLT*/

/*Start css för NEW ORDER*/

/*Slut NEW ORDER*/

/*start GEMENSAMMA för ORDER QUEUE och ORDER HISTORY*/

.leftSideMenuBox {
    position: absolute;
    width: 25%;
    height: 85vh;
    bottom: 6px;
    left: 6px;
    background-color: rgb(165, 170, 170);
    border: 2px solid rgb(125, 124, 127);
    overflow: auto;
}

.oneSuperOrder {
    overflow: auto;
}

.rightSideBox {
    position: absolute;
    width: 25%;
    height: 85vh;
    bottom: 6px;
    right: 6px;
    background-color: rgb(165, 170, 170);
    border: 2px solid rgb(125, 124, 127);
}

.juicesInTheOrder {
    position: absolute;
    width: 40%;
    left: 30%;
    top: 60px;
    background-color: rgb(165, 170, 170);
    border: 2px solid rgb(125, 124, 127);
    cursor: pointer;
}

.oneJuice{
    border: dotted red; /*Denna border är här under testing för att se enklare.*/
}

.pressedDiv {
    filter: brightness(85%);
    cursor: pointer;
}

.oneSuperOrder {
    position: relative;
    width: 90%;
    height: 10vh;
    margin: 7px auto;
    top: 13px;
    background-color: rgb(210, 210, 210);
    border: 2px solid rgb(125, 124, 127);
    cursor: pointer;
}

/*slut gemensamma ORDER QUEUE och ORDER HISTORY*/

/*Start css för ORDER QUEUE*/

#oQBoxContainer {
    position: relative;
    height: 90vh;
    background-color: rgb(234, 234, 225);
}

.oQButtons {
    position: absolute;
    align-content: center;
    bottom: 23px;
    height: 14vh;
    text-align: center;
    border: 2px solid rgb(125, 124, 127);
    border-radius: 12px;
    cursor: pointer;
    /* font-size:; */
}

#cancelOrderButton {
    left: 30%;
    width: 12%;
    background-color: rgb(255, 179, 179);
}

#finishOrderButton {
    left: 46%;
    background-color: rgb(51, 204, 51);
    width: 24%
}

/*Slut ORDER QUEUE*/

/*Start css för ORDER HISTORY*/

/*Start css för ORDER HISTORY*/

#oHBoxContainer {
    position: relative;
    height: 90vh;
    background-color: lightcoral;
}

#oHMenu {}

#oHIngridients {}

#oHTimeInfo {
    position: relative;
    width: 30%;
    height: 25vh;
    /*left: 35%;*/
    margin: auto;
    top: 400px;
    background-color: rgb(210, 210, 210);
    border: 2px solid rgb(125, 124, 127);
}

/*Slut ORDER HISTORY*/

/*Start css för INVENTORY*/


.hide {
    display: none;
}

.database {
    font-family: 'Hoefler Text', Georgia, 'Times New Roman', serif;
    font-weight: normal;
    font-size: 1.2em;
    letter-spacing: .2em;
    line-height: 1.1em;
    margin: 0px;
    text-transform: capitalize;
    border: 3px solid #cdc;
    padding: 1em;
}

/*Slut INVENTORY*/

/*Start css för STATISTICS*/

/*Slut STATISTICS*/